# 虚拟环境
venv/
.env
Pipfile
Pipfile.lock
poetry.lock

# 缓存、编译文件
__pycache__/
*.py[cod]
*$py.class

# Django相关（数据库文件忽略）
db.sqlite3
db.sqlite3-journal

# 忽略media下的用户上传文件（但保留avatars目录结构）
/media/avatars/*
!media/
!media/avatars/.gitkeep