{% extends 'base.html' %}

{% load static %}

{% block title %}发布博客{% endblock %}

{% block head %}
    <link
            href="https://unpkg.com/@wangeditor/editor@latest/dist/css/style.css"
            rel="stylesheet"
    />
    <style>
        #editor—wrapper {
            border: 1px solid #ccc;
            z-index: 100; /* 按需定义 */
        }
        #toolbar-container {
            border-bottom: 1px solid #ccc;
        }
        #editor-container {
            height: 500px;
        }
    </style>
    <script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
    <script src="{% static 'js/wangeditor.js' %}"></script>
{% endblock %}

{% block main %}
    <h1 style="color: #1a1d20">发布博客</h1>
    <div class="py-2">
        <form action="" method="post">
        {% csrf_token %}
            <div class="mb-2">
                <label class="form-label">标题</label>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="mb-2">
                <label class="form-label">分类</label>
                <select name="category" class="form-select" id="category-select">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-2">
                <label class="form-label">内容</label>
                <div id="editor—wrapper">
                    <div id="toolbar-container"><!-- 工具栏 --></div>
                    <div id="editor-container"><!-- 编辑器 --></div>
                </div>
            </div>
            <div class="mb-2 text-end">
                <button class="btn btn-primary" id="submit-btn">发布</button>
            </div>
        </form>
    </div>
{% endblock %}